@model Demo.Models.Supplier

@{
	ViewData["Title"] = "Create";
}

<h2>Create</h2>
<h4>新建供应商</h4>
<hr />
<div class="row">
	@*<div class="col-md-6">*@
	<form asp-action="Create">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="col-md-6 form-group">
			<label asp-for="SupplierID" class="control-label"></label>*
			<span asp-validation-for="SupplierID" class="text-danger"></span>
			<input asp-for="SupplierID" class="form-control" />
		</div>
		<div class="col-md-6 form-group">
			<label asp-for="SupplierName" class="control-label"></label>*
			<span asp-validation-for="SupplierName" class="text-danger"></span>
			<input asp-for="SupplierName" class="form-control" />
		</div>
		<div class="col-md-6 form-group">
			<label asp-for="SupplierAbbr" class="control-label"></label>
			<input asp-for="SupplierAbbr" class="form-control" />
			<span asp-validation-for="SupplierAbbr" class="text-danger"></span>
		</div>
		<div class="col-md-6 form-group">
			<label asp-for="SupplierClassify" class="control-label"></label>*
			<span asp-validation-for="SupplierClassify" class="text-danger"></span>
			<input asp-for="SupplierClassify" class="form-control" />
		</div>
		<div class="col-md-6 form-group">
			<label asp-for="SupplierCompetentProducts" class="control-label"></label>
			<input asp-for="SupplierCompetentProducts" class="form-control" />
			<span asp-validation-for="SupplierCompetentProducts" class="text-danger"></span>
		</div>
		<div class="col-md-6 form-group">
			<label asp-for="SupplierBuyer" class="control-label"></label>
			<input asp-for="SupplierBuyer" class="form-control" />
			<span asp-validation-for="SupplierBuyer" class="text-danger"></span>
		</div>
		<div class="col-md-6 form-group">
			<label asp-for="SupplierProvince" class="control-label"></label>
			<input asp-for="SupplierProvince" class="form-control" />
			<span asp-validation-for="SupplierProvince" class="text-danger"></span>
		</div>
		<div class="col-md-6 form-group">
			<label asp-for="SupplierCity" class="control-label"></label>
			<input asp-for="SupplierCity" class="form-control" />
			<span asp-validation-for="SupplierCity" class="text-danger"></span>
		</div>
		<div class="col-md-6 form-group">
			<label asp-for="SupplierAddress" class="control-label"></label>
			<input asp-for="SupplierAddress" class="form-control" />
			<span asp-validation-for="SupplierAddress" class="text-danger"></span>
		</div>

		<div class="col-md-6 form-group">
			<label asp-for="SupplierWorkFlow" class="control-label"></label>
			<input asp-for="SupplierWorkFlow" class="form-control" />
			<span asp-validation-for="SupplierWorkFlow" class="text-danger"></span>
		</div>
		<div class="col-md-6 form-group">
			<label asp-for="SupplierOrganization" class="control-label"></label>*
			<span asp-validation-for="SupplierOrganization" class="text-danger"></span>
			<input asp-for="SupplierOrganization" class="form-control" />
		</div>
		<div class="col-md-6 form-group">
			<label asp-for="SupplierRemarks" class="control-label"></label>
			<input asp-for="SupplierRemarks" class="form-control" />
			<span asp-validation-for="SupplierRemarks" class="text-danger"></span>
		</div>
		<div class="col-md-6 form-group">
			<label asp-for="SupplierAuditStatus" class="control-label"></label>
			<input asp-for="SupplierAuditStatus" class="form-control" />
			<span asp-validation-for="SupplierAuditStatus" class="text-danger"></span>
		</div>
		<div class="col-md-4 form-group">
			<label asp-for="SupplierType" class="control-label"></label>
			<span asp-validation-for="SupplierType" class="text-danger"></span>
			@if(ViewBag.database != null)
			{
				foreach(SupplierType supplierType in (IList<SupplierType>)ViewBag.database)
				{
					<input asp-for="SupplierType" type="radio" name="SupplierType" value="@supplierType.TypeCode" />@supplierType.TypeName
				}
			}
		</div>
		<div class="col-md-4 form-group">
			<label asp-for="SupplierEnable" class="control-label"></label>
			<input asp-for="SupplierEnable" type="radio" name="SupplierEnable" value="0">否
			<input asp-for="SupplierEnable" type="radio" name="SupplierEnable" value="1">是
			<span asp-validation-for="SupplierEnable" class="text-danger"></span>
		</div>
		<div class="col-md-8  form-group">
			<input type="submit" value="Create" class="btn btn-default" />
		</div>
	</form>
	@*</div>*@
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
