@model ivDemo.Models.Supplier

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Supplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupplierId" />
            <div class="form-group">
                <label asp-for="SupplierName" class="control-label"></label>
                <input asp-for="SupplierName" class="form-control" />
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierAbbr" class="control-label"></label>
                <input asp-for="SupplierAbbr" class="form-control" />
                <span asp-validation-for="SupplierAbbr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierClassify" class="control-label"></label>
                <input asp-for="SupplierClassify" class="form-control" />
                <span asp-validation-for="SupplierClassify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetentProducts" class="control-label"></label>
                <input asp-for="CompetentProducts" class="form-control" />
                <span asp-validation-for="CompetentProducts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierBuyer" class="control-label"></label>
                <input asp-for="SupplierBuyer" class="form-control" />
                <span asp-validation-for="SupplierBuyer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierProvince" class="control-label"></label>
                <input asp-for="SupplierProvince" class="form-control" />
                <span asp-validation-for="SupplierProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierCity" class="control-label"></label>
                <input asp-for="SupplierCity" class="form-control" />
                <span asp-validation-for="SupplierCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierAddress" class="control-label"></label>
                <input asp-for="SupplierAddress" class="form-control" />
                <span asp-validation-for="SupplierAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierEnable" class="control-label"></label>
                <input asp-for="SupplierEnable" class="form-control" />
                <span asp-validation-for="SupplierEnable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
